[MASTER]
load-plugins=pylint_odoo
score=n
init-hook=
    import os, sys;
    here = os.path.dirname(os.path.abspath(__file__));
    ocb = os.path.abspath(os.path.join(here, "..", "ocb"));
    sys.path.insert(0, ocb)


[ODOOLINT]
readme-template-url="https://github.com/OCA/maintainer-tools/blob/master/template/module/README.rst"
manifest-required-authors=Odoo Community Association (OCA)
manifest-required-keys=license
manifest-deprecated-keys=description,active
license-allowed=AGPL-3,GPL-2,GPL-2 or any later version,GPL-3,GPL-3 or any later version,LGPL-3
valid-odoo-versions=18.0

[MESSAGES CONTROL]
# Disable problematic rules with Odoo
# R0801 duplicate-code: wizard_show_gis_preview and similar wizards share structure
# geofolia_json_import: attribute-string-redundant, prefer-env-translation, etc.
disable=missing-module-docstring,
    duplicate-code,
    attribute-string-redundant,
    prefer-env-translation,
    protected-access,
    translation-not-lazy,
    broad-exception-caught,
    too-many-lines,
    consider-using-in,
    invalid-name,
    too-many-locals,
    too-many-return-statements,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-instance-attributes,
    consider-using-f-string,
    abstract-method,
    no-member,
    import-error,
    manifest-required-author

# Explicitly enable important rules
enable=super-with-arguments,
    redefined-outer-name,
    unused-import,
    unused-variable,
    undefined-variable

# This .pylintrc contains OCA rules for Odoo 18.0
# All standard Pylint rules are active by default
# Specific pylint-odoo rules will be loaded automatically with the plugin

[FORMAT]
max-line-length=88

[BASIC]
# Good names for short variables (common in Odoo)
good-names=i,j,k,ex,Run,_,id,cr,uid

[REPORTS]
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}
output-format=colorized
reports=no

