/**/
/* ter.sigpac */
/**/
.o_l10n_es_territory_sigpac_sigpac_view_tree [data-name="name"] {
    text-align: center;
    width: 250px;
    min-width: 250px;
}
.o_l10n_es_territory_sigpac_sigpac_view_tree [data-name="dn_oid"] {
    text-align: right;
    width: 100px;
    min-width: 100px;
}
.o_l10n_es_territory_sigpac_sigpac_view_tree [data-name="dn_surface_ha"] {
    text-align: right;
    width: 80px;
    min-width: 80px;
}
.o_l10n_es_territory_sigpac_sigpac_view_tree [data-name="pend_media_porc"] {
    text-align: right;
    width: 80px;
    min-width: 80px;
}
.o_l10n_es_territory_sigpac_sigpac_view_tree [data-name="coef_rega"] {
    text-align: right;
    width: 80px;
    min-width: 80px;
}
.o_l10n_es_territory_sigpac_sigpac_view_tree [data-name="uso_sigpac"] {
    text-align: left;
    width: 410px;
    min-width: 410px;
}
/**/
/* ter.parcel.sigpaclink */
/**/
.o_l10n_es_territory_sigpac_parcel_sigpaclink_view_tree [data-name="parcel_id"] {
    text-align: center;
    width: 100px;
    min-width: 100px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_view_tree [data-name="sigpac_id"] {
    text-align: center;
    width: 200px;
    min-width: 200px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_view_tree [data-name="area_ha"] {
    text-align: right;
    width: 80px;
    min-width: 80px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_view_tree [data-name="intersection_percentage"] {
    text-align: right;
    width: 80px;
    min-width: 80px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_view_tree [data-name="county_id"] {
    text-align: left;
    width: 150px;
    min-width: 150px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_view_tree [data-name="pend_media_porc"] {
    text-align: right;
    width: 80px;
    min-width: 80px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_view_tree [data-name="coef_rega"] {
    text-align: right;
    width: 80px;
    min-width: 80px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_view_tree [data-name="uso_sigpac"] {
    text-align: left;
    width: 230px;
    min-width: 230px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_parcels_view_tree [data-name="parcel_id"] {
    text-align: center;
    width: 100px;
    min-width: 100px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_parcels_view_tree [data-name="county_id"] {
    text-align: left;
    width: 150px;
    min-width: 150px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_parcels_view_tree [data-name="hydraulicsector_id"],
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_parcels_view_tree [data-name="irrigationditch_id"] {
    text-align: left;
    width: 150px;
    min-width: 150px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_parcels_view_tree [data-name="parcel_area_ha"] {
    text-align: right;
    width: 100px;
    min-width: 100px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_parcels_view_tree [data-name="area_ha"] {
    text-align: right;
    width: 100px;
    min-width: 100px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_parcels_view_tree [data-name="intersection_percentage"] {
    text-align: right;
    width: 100px;
    min-width: 100px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_enclosures_view_tree [data-name="sigpac_id"] {
    text-align: left;
    width: 220px;
    min-width: 220px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_enclosures_view_tree [data-name="uso_sigpac"] {
    text-align: left;
    width: 200px;
    min-width: 200px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_enclosures_view_tree [data-name="coef_rega"] {
    text-align: right;
    width: 150px;
    min-width: 150px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_enclosures_view_tree [data-name="parcel_area_ha"] {
    text-align: right;
    width: 150px;
    min-width: 150px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_enclosures_view_tree [data-name="area_ha"] {
    text-align: right;
    width: 150px;
    min-width: 150px;
}
.o_l10n_es_territory_sigpac_parcel_sigpaclink_only_enclosures_view_tree [data-name="intersection_percentage"] {
    text-align: right;
    width: 130px;
    min-width: 130px;
}
.no-break {
    white-space: nowrap;
}
