// 2026 Moval Agroingeniería
// License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl.html)

.o_base_ter_ter_parcel_partnerlink [data-name="percentage"] {
    text-align: right;
    width: 125px !important;
    min-width: 125px !important;
}

.o_base_ter_ter_parcel_partnerlink [data-name="area_ownership"] {
    text-align: right;
    width: 110px;
    min-width: 110px;
}

.o_base_ter_ter_parcel_partnerlink [data-name="percentage_overhead"] {
    text-align: right;
    width: 125px;
    min-width: 125px;
}

.o_base_ter_ter_parcel_partnerlink [data-name="area_overhead"] {
    text-align: right;
    width: 110px;
    min-width: 110px;
}