.o_base_ter_ter_parcel [data-name="alphanum_code"] {
    text-align: center;
    width: 160px;
    min-width: 160px;
}

.o_base_ter_ter_parcel [data-name="area_official"] {
    text-align: right;
    width: 160px;
    min-width: 160px;
}