.o_base_adi_res_province [data-name="cadastral_code"] {
    text-align: center;
    width: 80px;
    min-width: 80px;
}

.o_base_adi_res_municipality [data-name="cadastral_code"] {
    text-align: center;
    width: 80px;
    min-width: 80px;
}