.o_base_ter_ter_parcel [data-name="is_secondary"] {
    text-align: center;
    width: 80px;
    min-width: 80px;
}

.o_base_ter_res_partner [data-name="mapped_to_base"] {
    text-align: center;
    width: 80px;
    min-width: 80px;
}
